  .wave {
    opacity: .8;
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    width: 3000px;
    height: 3000px;
    background: rgb(130, 177, 238);
    margin-left: -1500px;
    transform-origin: 50% 48%;
    border-radius: 46%;
    animation: wave 12s infinite linear;
    pointer-events: none;
  }
  .wave2 {
    animation: wave 28s infinite linear;
    opacity: .4;
  }
  .wave3 {
    animation: wave 20s infinite linear;
    opacity: .1;
  }
  @keyframes wave {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }